In [30]:
import os
import pandas as pd

# Canadian Locations

In [39]:

_CITIES = [
           {'city':'San Francisco','state':'CA', 'abbr':'SFO', 'country':'USA'},
           {'city':'Las Vegas','state':'NV', 'abbr':'LAS', 'country':'USA'} ,
          {'city':'Los Angeles','state':'CA', 'abbr':'LAX', 'country':'USA'},
           {'city':'Seattle','state':'WA', 'abbr':'SEA', 'country':'USA'},
            {'city':'Salt Lake City','state':'UT', 'abbr':'SLC', 'country':'USA'},
         {'city':'Denver','state':'CO', 'abbr':'DEN', 'country':'USA'},
         {'city':'Chicago','state':'IL', 'abbr':'CHI', 'country':'USA'},
          {'city':'Dallas','state':'TX', 'abbr':'DFW', 'country':'USA'},
          {'city':'Vancouver','state':'BC', 'abbr':'YVR', 'country':'CAN'},
           {'city':'Calgary','state':'AB', 'abbr':'YYC', 'country':'CAN'},
           {'city':'Anchorage','state':'AK', 'abbr':'MCO', 'country':'USA'},
          {'city':'Toronto','state':'Ont', 'abbr':'YYZ', 'country':'CAN'},
          {'city':'Montreal','state':'Qc', 'abbr':'YUL', 'country':'CAN'},
           {'city':'Halifax','state':'NS', 'abbr':'YHZ', 'country':'CAN'}
        ]

folders = """C:\\Users\\mriedeman\\Documents\\Python_Scripts\\Webscraper\\Output Data\\FTI Camper"""


canadian_cities = [city['city'] for city in _CITIES if city['country'] == 'CAN']
file_paths = []

for city in canadian_cities:
    for file in os.listdir(f"C:\\Users\\mriedeman\\Documents\\Python_Scripts\\Webscraper\\Output Data\\FTI Camper\\{city}"):
        file_paths.append(f"C:\\Users\\mriedeman\\Documents\\Python_Scripts\\Webscraper\\Output Data\\FTI Camper\\{city}\\{file}")

df_can = pd.concat(map(pd.read_csv, file_paths))

df_can.reset_index(drop=True, inplace=True)

df_can.to_excel("../Output Data/Combined Data/FTI Camper Canada Price Data 2023.xlsx")
df_can

,city,start_date,end_date,total_price,daily_price,vehicle_class,company_name
0,Vancouver,2022-12-12,2022-12-29,1092.0,64.24,Motorhome C19,Cruise
1,Vancouver,2022-12-12,2022-12-29,1126.0,66.24,Motorhome C19,Cruise
2,Vancouver,2022-12-12,2022-12-29,1160.0,68.24,Motorhome Standard C25,Cruise
3,Vancouver,2022-12-12,2022-12-29,1164.0,68.47,Motorhome Compact Plus C21,Cruise
4,Vancouver,2022-12-12,2022-12-29,1164.0,68.47,Motorhome Large C30,Cruise
...,...,...,...,...,...,...,...
15915,Halifax,2023-12-04,2023-12-21,3315.0,195.00,Truck Camper TC,Fraserway
15916,Halifax,2023-12-04,2023-12-21,3434.0,202.00,Motorhome C-Medium MH22,Fraserway
15917,Halifax,2023-12-04,2023-12-21,3468.0,204.00,Truck Camper Slide-out TCB,Fraserway
15918,Halifax,2023-12-04,2023-12-21,3655.0,215.00,Motorhome C-Large Slide-out M25S,Fraserway
15919,Halifax,2023-12-04,2023-12-21,3774.0,222.00,Motorhome C-XLarge Slide-out M31S,Fraserway

# American Locations

In [23]:

folders = """C:\\Users\\mriedeman\\Documents\\Python_Scripts\\Webscraper\\Output Data\\FTI Camper"""

american_cities = [city['city'] for city in _CITIES if city['country'] == 'USA']
file_paths = []
for city in cities:

    for file in os.listdir(f"C:\\Users\\mriedeman\\Documents\\Python_Scripts\\Webscraper\\Output Data\\FTI Camper\\{city}"):
            file_paths.append(f"C:\\Users\\mriedeman\\Documents\\Python_Scripts\\Webscraper\\Output Data\\FTI Camper\\{city}\\{file}")

df = pd.concat(map(pd.read_csv, file_paths))

df.reset_index(drop=True, inplace=True)

df.to_excel("../Output Data/Combined Data/Q1 FTI Camper Price Data.xlsx")

df

,city,start_date,end_date,total_price,daily_price,vehicle_class,company_name
0,Chicago,2022-12-05,2022-12-22,1564.0,92.00,Motorhome Large C30,Cruise
1,Chicago,2022-12-05,2022-12-22,1598.0,94.00,Motorhome Large C30,Cruise
2,Chicago,2022-12-05,2022-12-22,1972.0,116.00,Motorhome Large C30,Cruise
3,Chicago,2022-12-05,2022-12-22,1989.0,117.00,Motorhome Standard C25,Cruise
4,Chicago,2022-12-05,2022-12-22,2023.0,119.00,Motorhome Standard C25,Cruise
...,...,...,...,...,...,...,...
29332,Seattle,2023-01-23,2023-02-09,3076.0,180.94,Motorhome Large C30,Cruise
29333,Seattle,2023-01-23,2023-02-09,3264.0,192.00,Motorhome C19,Cruise
29334,Seattle,2023-01-23,2023-02-09,3349.0,197.00,Motorhome Standard C25,Cruise
29335,Seattle,2023-01-23,2023-02-09,3434.0,202.00,Motorhome Compact Plus C21,Cruise
29336,Seattle,2023-01-23,2023-02-09,3434.0,202.00,Motorhome Large C30,Cruise